{{>header}}


<!-- Start of Navigation Bar - Remove this block of code (Except the search bar, Filter & Search buttons) and replace it with your navigation bar code -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Green Mart</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{# if login}}
                <li class="nav-item"><a class="nav-link" href="/orders/{{user.email}}">Orders</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                {{# if user.isadmin}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/add">Add Product</a></li>
                        <li><a href="/admin/update">Update/Delete Product</a></li>
                    </ul>
                </li>
                {{/if}}
                <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                {{else}}
                <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/signin">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/signup">Register</a></li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0 form-style">
                <button type="button" class="btn btn-outline-success" id="filterBtn" data-toggle="modal"
                    data-target="#filterModal"><b>Filter</b></button>
                <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Looking for something?"
                    aria-label="Search">
                <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="searchBtn"><b>Search</b></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</br>
<div class="container">
    {{#each product}}
    <div class="row">
        {{#each this}}
        <div class="col-xs-6 col-md-4 img-container">
            <img class="img-responsive inline-block img-thumbnail" src="{{this.imagePath}}" />

            <div class="caption">
                <a class="product_title" data-toggle="modal" data-target="#myModal">{{this.title}}</a>
                <p><span class="price">${{this.price}}</span><span class="price_desc">{{this.price_description}}</span>
                </p>
                <p class="product_desc" hidden>{{this.product_description}}</p>
                <p class="id" hidden>{{this._id}}</p>
                <input class="quantity" type="number" name="quantity" value="1" min="1" max="50">
                <a class="btn btn-warning add-btn" role="button">Add to Cart</a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
    </br>
    <p id="isPaginate" hidden>{{pagination}}</p>

    <!-- Pagination -->
    <nav aria-label="Page-navigation">
        <ul class="pagination justify-content-center">
        </ul>
    </nav>

</div>

{{>footer}}